.Rproj.user
.Rhistory
.RData
.Ruserdata
*.xlsx
*.xls
*.doc
*.docx
*.nc
*.svg
*.tif
*.tiff
*.pdf
*.png
*.jpg
Manuscript/
Communications/
Fish_Family_Images/
Authors/
Mapping/
Presentations+Abstracts/
QGIS/
Bitemap Documents/